:root {
  --main-bg-color: #2E3047; 
  --light-green: #3BBA9C;
  --dark-green:  #3D8C95;
  --dark-grey: #43455C;
  --white: #b8bbc9;
  --bg-container: #707793;
  --danger: #DC3545;
}  


.App {
  background-color: var(--main-bg-color);
  color: var(--white);
  padding: 20px;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;

}

.App-header {
  background-color: var(--main-bg-color);
  min-height: 25vh;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: var(--white);
}

.App-basic {
  background-color: var(--dark-grey);
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  padding: 10px 60px;
  margin: 10px 20px;
}
.App-content-basic{
  background-color: var(--dark-green);
  border-radius: 15px;
  color: white;
  text-align: center;
  font-size: 2vmin;
}

.App-lists {
  background-color: var(--bg-container);
  margin: 10px 20px;
  padding: 5px;
  border-radius: 15px;
}